body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
    line-height: 1;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 50px;
    max-width: 50px;
    margin-right: 6px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    color: #dbd19b;
    font-family: "Montserrat", sans-serif;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #241b13;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 7px 15px;
    margin-left: 5px;
    font-size: 14px;
    color: #dbd19b;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 50px;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    background: #4c422e;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    font-size: 14px;
    background-color: #241b13;
    padding: 5px;
    text-align: center;
}

.footer .copyright {
    color: #dbd19b;
    margin: 0 0 0 0;
}

#footer .social-links {
    margin: 15px 0 10px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #dbd19b;
    color: #fff;
    line-height: 1;
    padding: 10px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #dbd19b75;
    color: #fff;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: fill;
    top: 0;
    left: 0;
    min-height: 500px;
    width: 100%;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 20px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 15px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4c422e;
    font-family: "Montserrat", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #dbd19b;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: #241b13;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.menu .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.menu .menu-item-image {
    display: inline-block;
}

.menu .menu-item-desc {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
}

.menu .menu-item img{
    width: 200px;
    height: 105px;
}

/*--------------------------------------------------------------
# Menu Nav
--------------------------------------------------------------*/
.container .menu-navbar {
    text-align: center;
}

.menu-navbar {
    padding: 0;
}

.menu-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-navbar li {
    position: relative;
}

.menu-navbar a,
.menu-navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 7px 15px;
    margin-left: 5px;
    font-size: 14px;
    color: #241b13;
    white-space: nowrap;
    transition: 0.3s;
    border-radius: 50px;
}

.menu-navbar a i,
.menu-navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.menu-navbar a:hover,
.menu-navbar .active,
.menu-navbar .active:focus,
.menu-navbar li:hover>a {
    background: #dbd19b;
}